.post-comment {
  display: flex;
  margin: 20px;
}
img {
  width: 70px;
  margin-right: 20px;
}
h5 {
  font-weight: 900;
}
.input-bar {
  width: 1350px;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(160, 152, 152);
  border-radius: 4px;
}
.comment {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 50px;
}
.comment-wrapper {
  display: flex;
  flex-direction: row;
  margin: 15px;
  padding: 15px;
}
.submit-btn {
  background-color: rgb(160, 152, 152);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.load-more {
  background-color: #fe024e;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-size: 16px;
  width: 100px;
  margin-left: 50%;
  margin-bottom: 20px;
}
