.search-form {
  border: 4px solid black;
  padding: 0 10px;
  border-radius: 50px;
  max-width: 500px;
  margin: auto;
}
.element-container {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.search-input {
  border: none;
  background-color: #e6e6e6;
  height: 100%;
  width: 100%;
  padding: 0 5px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
}
.search-input:focus {
  outline: none;
}
.search-logo {
  font-size: 25px;
  height: 30px;
  width: 25px;
}
.search-button {
  outline: none;
  background-color: black;
  border: none;
  border-radius: 100%;
}
