* {
  font-family: "roboto", sans-serif;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.movie-item img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  text-decoration: none;
}

.movie-item:hover {
  transform: scale(1, 1.03);
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie-info li {
  list-style: none;
}

.bold {
  font-weight: 700;
}
